/*
  Styling the body content
*/
body{
 -webkit-font-smoothing: antialiased;
 text-rendering: optimizelegibility;
 background-color: #fff;
 font-family: 'Roboto', cursive;
 color: #000;
}

/*
  Styling Navigation Bar
*/
.navbar{
  background-color: #ccc;
}

#navigations{
  margin-top: 15px;
}
.navbar-nav li a{
  color: #444;
}
.navbar-brand, .navbar-brand:hover{
  padding: 0;
  color: #333;
}

.navbar-brand img{
  padding: 10px;
}
.navbar-toggle{
  background-color: #333;
}

.navbar-toggle:hover{
  background-color: #555;
}

.navbar-toggle:focus{
  background-color: #555;
}

main{
  margin-top: 150px;
}

.jumbotron img{
  margin-right: 10px;
}

.jumbotron button, a{
  margin: 5px;
}


